v\: * {
	behavior: url(#default#vml)
}

/**
 * name.xio.xiorkflow.StatusLabel
 */
.NAME_XIO_XIORKFLOW_STATUS_LABEL {
	border: 1px inset;
	background-color: buttonface;
	cursor: default;
	height: 24px;
	padding-top: 5px;
	padding-bottom: 0px;
	padding-left: 10px;
}

/**
 *
 */
.NAME_XIO_XIORKFLOW_VIEWER {
	background-color: #fffff5;
	background-image: url("workbg.gif");
	overflow: scroll;
	/*border: buttonface 10px solid;*//* 去掉边距*/
} 
/**
 *
 */
.NAME_XIO_XIORKFLOW_METANODE {
	position: absolute;
	height:auto!important;
	border-radius: 4px; 
	cursor: pointer;
	padding: 2px 5px;
	font-family: "microsoft YaHei";
	border:1px solid #dedede;
	/*background-color:rgb(33, 150, 243);*/

	background-color:rgb(0,153,255);
	/*background-color: #CCFFCC;*/
/*	background-image: url("bg.jpg");
*//*	border-left: buttonhighlight 1px solid;
*//*	border-top: buttonhighlight 1px solid;
*//*	border-right: buttonshadow 1px solid;
*//*	border-bottom: buttonshadow 1px solid;
*/	/*background-position:top; background-repeat:repeat-x;background-color:#FFFFFF;*/
/*	background-position:bottom; background-repeat:repeat-x;background-color:#1D8FD8;
*/	/*filter: Alpha(Opacity=50);*/
}  

.NAME_XIO_XIORKFLOW_METANODE_GATE {
	position: absolute;
	border-radius: 4px; 
	cursor: pointer;
    padding: 2px 5px;
	font-family: "microsoft YaHei";
	border:0;
	background:url(ling-x.png) no-repeat center 50%;
	/*background-color:rgb(33, 150, 243);*/
}

.NAME_XIO_XIORKFLOW_METANODE_GATE .NDIV {
	position: relative;
	height: 60px;
	width: 120px;
}
 

.NAME_XIO_XIORKFLOW_METANODE_GATE table{
	color: #fff;
	width: 90px;
	height: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -45px;
	margin-top: -15px;
} 

.NAME_XIO_XIORKFLOW_METANODE_GATE .TITLE {
	height: 35px;
}


.NAME_XIO_XIORKFLOW_METANODE_GATE .TITLE .IMG {
	width: 16px;
	height: 16px;
	background-repeat:no-repeat;  overflow:hidden;
	/*display: inline;*/
}

.NAME_XIO_XIORKFLOW_METANODE_GATE .TITLE .TXT {
	font-size: 12px;
	/*display: inline;*/
	background: transparent;
}
.NAME_XIO_XIORKFLOW_METANODE table{
	color: #fff;
} 

/**
 *
 */
.NAME_XIO_XIORKFLOW_METANODE_DEALED {
	position: absolute;
	background-color: #CCFFCC;
	border-left: buttonhighlight 1px solid;
	border-top: buttonhighlight 1px solid;
	border-right: buttonshadow 1px solid;
	border-bottom: buttonshadow 1px solid;
	/*filter: Alpha(Opacity=50);*/
}
/**
 *
 */
.NAME_XIO_XIORKFLOW_METANODE_NOW {
	position: absolute;
	background-color: red;
	border-left: buttonhighlight 1px solid;
	border-top: buttonhighlight 1px solid;
	border-right: buttonshadow 1px solid;
	border-bottom: buttonshadow 1px solid;
	/*filter: Alpha(Opacity=50);*/
}

.NAME_XIO_XIORKFLOW_METANODE .TITLE {
	height: 35px;
}

.NAME_XIO_XIORKFLOW_METANODE .TITLE .IMG {
	width: 16px;
	height: 16px;
	background-repeat:no-repeat;  overflow:hidden;
	/*display: inline;*/
}

.NAME_XIO_XIORKFLOW_METANODE .TITLE .TXT {
	font-size: 12px;
	/*display: inline;*/
	background: transparent;
}

.BOUND_RECTANGLE {
	display: block;
}

.BOUND_RECTANGLE_UNSELECTED {
	display: none;
}

/**
 *
 */
.NAME_XIO_XIORKFLOW_TALBE_VIEWER {
	background-color: #fafafa;
	padding: 20px;
	overflow: scroll;
	border: buttonface 10px solid;
	font-size: 12px;
}

.NAME_XIO_XIORKFLOW_TABLE {
	width: 100%;
	border: #e0e0e0 1px solid;
}

.NAME_XIO_XIORKFLOW_TABLE td {
	font-size: 12px;
}

.NAME_XIO_XIORKFLOW_TABLE .body td {
	border: #e0e0e0 1px solid;
	background-color: #f0f0f0;
	height: 20px;
}

.NAME_XIO_XIORKFLOW_TABLE .head td {
	background-color: buttonface;
	border: 1px outset solid;
	height: 24px;
}

/**
 *
 */
.NAME_XIO_XIORKFLOW_XML_VIEWER {
	background-color: #fafafa;
	padding: 20px;
	overflow: scroll;
	border: buttonface 10px solid;
	font-size: 12px;
}

.NAME_XIO_XIORKFLOW_XML_VIEWER pre {
	color: #006699;
	font-family: "courier new";
	border: 1px solid #d0d0d0;
	background-color: #f5f5f5;
	padding: 10px;
	margin: 10px;
}



/**
 *
 */
.NAME_XIO_XIORKFLOW_METANODE_VIEWED {
	position: absolute;
	height:auto!important;
	background-color: #FF4900;
	border-radius: 4px;
	cursor: pointer;
	padding: 2px 5px;
	color: #fff; 
}

.NAME_XIO_XIORKFLOW_METANODE_VIEWED .TITLE {
	height: 35px;
}

.NAME_XIO_XIORKFLOW_METANODE_VIEWED .TITLE .IMG {
	width: 16px;
	height: 16px;
	background-repeat:no-repeat;  overflow:hidden;
	/*display: inline;*/
}

.NAME_XIO_XIORKFLOW_METANODE_VIEWED .TITLE .TXT {
	font-size: 12px;
	/*display: inline;*/
	background: transparent;
}
