@charset "utf-8";
@import url(css_help_content.css);

body{ margin:0px; padding:0px; font-size:12px; font-family:"宋体"; background-color:#fff; background-image:url(images/body_bg.jpg); background-position:top; background-repeat:repeat-x;}
html,body{_background-image:url(about:blank);_background-attachment:fixed;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,input,button,textarea,p,th,td{margin:0px;padding:0px;}
img{border:0;-ms-interpolation-mode:bicubic;}
ul,li{list-style-type:none;}
input,:focus{outline:0;}
.clearfix{clear:both; height:1px;}
.clear:after{content:".";display:block;height:0;clear:both;visibility:hidden;} 
table{border-collapse:collapse;}
a{ color:#0657AB; text-decoration:none;}
a:hover{color: #347DAE;}
.center{}



.help_bg{ background:#dbe9f2;}
.help_box{ background:url(../img/top_bg.png) repeat-x left top;}

.help_head{height:116px; position:relative; min-width:990px;}
.help_head .logo{float:left; display:inline-block;width:278px; height:61px; margin:27px 10px;}
.nav_box{height:116px; float:left; margin-left:20px;}
.nav_box li{display:inline-block; width:130px; height:116px;text-align:center; margin:0 5px; float:left;}
.nav_box li a{font-size:16px; padding-top:50px; height:66px; line-height:66px; color:#fff;display:block;width:130px; font-family:microsoft yahei; font-weight:bold;}
.nav_box li a.user1{ background:url(../img/uesr.png) no-repeat center 30px;}
.nav_box li a.user2{ background:url(../img/uesr1.png) no-repeat center 30px;}
.nav_box li a.user3{ background:url(../img/uesr2.png) no-repeat center 30px;}
.nav_box li:hover,.nav_box li.on_nav{background:url(../img/tag_a.png) no-repeat center center;}



.help_head .ico_tc{width:78px; height:78px; display:block; position:absolute; right:50px; top:20px; background:url(../img/ico_tc.png) no-repeat;}
.help_head .ico_sm{width:78px; height:78px; display:block; position:absolute; right:140px; top:20px; background:url(../img/ico_sm.png) no-repeat;}
.help_head .ico_kf{width:78px; height:78px; display:block; position:absolute; right:230px; top:20px; background:url(../img/ico_kf.png) no-repeat;}
.help_head .ico_tc:hover{background:url(../img/ico_tc_on.png) no-repeat;}
.help_head .ico_sm:hover{background:url(../img/ico_sm_on.png) no-repeat;}
.help_head .ico_kf:hover{background:url(../img/ico_kf_on.png) no-repeat;}



.left_nr{ padding:15px; padding-right:0;border-top: 2px solid #4382c1;}

.line_bottom01{ background-image:url(images/line_botbg.gif);}
.line_bottom01 span{ float:right;}
.line_bottom02{ background-position:bottom; background-repeat:repeat-x; background-image:url(images/line_botbg02.gif);}
.line_bottom02 span{ float:right;}



.right_nr{ background:#dbe9f2; padding:15px; border-top:2px solid #4382c1;}
.right_bg{ padding:20px; background:#fff; border:1px solid #dbdbdb;}
.right_img{ min-height:1100px; min-width:700px;     height:auto !important;  }
.help_left{  min-width:220px; background:#fff; border:1px solid #dbdbdb; padding:10px 0;}

.ask_list h1{ clear:both; height:40px; line-height:40px; padding-left:40px;  margin:0; position:relative; background:url(../img/h1.png) no-repeat 20px center;}
.ask_list h1.aon{background:url(../img/h1_on.png) no-repeat 20px center;}
.ask_list h1 a{ color:#444; display:block; height:40px; padding-right:30px; font-weight:normal; font-size:15px;font-family:microsoft yahei;}
.ask_list h1 a:hover{ }
.ask_list h1.aon a,.ask_list h1.aon a:hover{}
.ask_list h1.aon{}
.ask_list h1 a span{display:block; width:12px; height:12px; position:absolute; top:16px; right:40px;}

.ask_list h2{ font-size:12px; margin:2px 0; height:30px; line-height:30px; text-indent:60px; font-family:microsoft yahei; font-size:13px;  font-weight:normal;}
.ask_list h2 a{ display:block; line-height:30px; color:#444; background:url(../img/h2.png) no-repeat 40px center;}
.ask_list h2 a:hover,.ask_list h2 a.cur{ color:#fff; background:#5e95cf url(../img/h2_on.png) no-repeat 40px center;}

.ask_blank{ padding:0px; margin:0px; height:0px; clear:both; }

.help_right{ border:1px solid #77A7BB; background-color:#fff; padding:10px 20px;    min-height:500px;   height:auto !important;  height:500px;}
.help_pos{ font-size:12px; height:28px; line-height:28px; border-bottom:1px dashed #BCD4E0; color:#323232;}
.help_pos a{color:#323232; margin:0px 4px;}
.title02{ padding:15px 0px;  font-size:14px; color:#000; margin:0px;}

.h_list01{ clear:both;  padding:0px; list-style:none;margin:0px 0px 0px 6px; }
.h_list01 li{ list-style:none; padding:0px;  font-size:14px; width:50%; float:left;}
.h_list01 li a{ color:#0031F7; line-height:26px;}
.h_list01 li span{ display:block; float:left; padding:5px 8px 0px 0px;}



.help_box01{ padding:2px; border:1px solid #D9D9D9;   min-height:30px;   height:auto !important;  height:30px; clear:both; margin-bottom:30px;}
.h_list02{ clear:both;  padding:0px; list-style:none;margin:10px 0px 0px 0px; }
.h_list02 li{ list-style:none; padding:0px;  font-size:14px; width:50%; float:left; color:#9F9F9F;}
.h_list02 li a{ color:#1E1E1E; line-height:26px;}
.h_list03{ clear:both;  padding:0px; list-style:none;margin:10px 0px 0px 0px; }
.h_list03 li{ list-style:none; padding:0px;  font-size:14px;  color:#9F9F9F;}
.h_list03 li a{ color:#1E1E1E; line-height:26px;}


.help_t01{ height:30px; line-height:30px; font-size:14px; margin:0px; padding:0px 0px 0px 20px; background-color:#D2DDFD;}
.help_t02{ height:30px; line-height:30px; font-size:14px; margin:0px; padding:0px 0px 0px 20px; background-color:#D2FCE6;}
.help_t03{ height:30px; line-height:30px; font-size:14px; margin:0px; padding:0px 0px 0px 20px; background-color:#EBF9D5;}
.help_t04{ background-image:url(images/help_arr02.jpg); background-position:left center; background-repeat:no-repeat; font-size:12px; margin:0px 0px 0px 8px; color:#2F75FB; padding:10px 0px 10px 25px;}

.h_content{color:#000; line-height:24px; font-size:14px; word-break:break-all; }
.h_content img{max-width: 500px;
　　width:expression(this.width > 500 ? "500px" : this.width);
　  height:expression(this.height*(this.max-width/this.width));
　　overflow:hidden;}

.h_content p{ text-indent:2em;}




/* 返回顶部 */
#scrollBar a{display:block;_display:none;width:45px;height:46px;background:url(../img/cngold_float_r.png) -45px 0 no-repeat;text-indent:-9999px;}
#scrollBar a:hover{background-position:0 0;}